<h3>Area Riservata</h3>

<div class="d-flex justify-content-center gap-3">
    <a class="button text-decoration-none" href="@Url.Action("GetAllUsers", "User")">Gestisci gli Utenti</a>
    <a class="button text-decoration-none" href="@Url.Action("Index", "Product")">Gestisci le Pizze</a>
    <a class="button text-decoration-none" href="@Url.Action("GetAllIngredients", "Ingredient")">Gestisci gli Ingredienti</a>
</div>