@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestione Verbali Polizia</h1>
    <div class="btn-group mt-4" role="group">
        <a class="btn btn-outline-warning" asp-controller="Anagrafe" asp-action="Index">
            Gestione Trasgressori
        </a>
        <a class="btn btn-outline-info" asp-controller="Violazioni" asp-action="Index">
            Gestione Violazioni
        </a>
        <a class="btn btn-outline-danger" asp-controller="Verbali" asp-action="Index">
            Gestione Verbali
        </a>
    </div>
</div>
