@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";

    var currentUser = (User.Identity?.IsAuthenticated ?? false) ? User.Identity.Name : "Ospite";
    var roleClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
    var userRole = roleClaim != null ? roleClaim.Value : "Nessun Ruolo";

}

<div class="text-center">
    <h1 class="display-4">Welcome @currentUser</h1>
    <p>Ruolo: @userRole</p>
</div>
