@model Esercizio_M4_W2_D5.Models.Product
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@Model.Brand</h>
<h2 class="text-center">@Model.Name</h2>
<div class="my-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/@Model.ImgCover" class="d-block w-50 mx-auto" alt="Prima Immagine">
            </div>
            <div class="carousel-item">
                <img src="~/images/@Model.OtherImg[0]" class="d-block w-50 mx-auto" alt="Seconda Immagine">
            </div>
            <div class="carousel-item">
                <img src="~/images/@Model.OtherImg[1]" class="d-block w-50 mx-auto" alt="Terza Immagine">
            </div>
        </div>
        <button class="carousel-control-prev control" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next control" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
    <p class="description">@Model.Description</p>
    <h3 class="text-center text-danger fw-bold fs-4 ">@Model.Price €</h3>
<a asp-action="Index" class="btn title text-white">Torna alla vetrina</a>
