@model Esercizio_M4_W2_D5.Models.Product
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Brand</h1>
<h2>@Model.Name</h2>
<div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/@Model.ImgCover~/images/@Model.OtherImg[0]" class="d-block w-100" alt="Prima Immagine">
            </div>
            <div class="carousel-item">
                <img src="~/images/@Model.OtherImg[0]" class="d-block w-100" alt="Seconda Immagine">
            </div>
            <div class="carousel-item">
                <img src="~/images/@Model.OtherImg[0]" class="d-block w-100" alt="Terza Immagine">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<p>@Model.Description</p>
<a asp-action="Index" class="btn btn-outline-info">Torna alla vetrina</a>
